@use './colors';
@use './mixins';
@use './animation';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Sofia Sans Condensed', sans-serif;
	background-color: colors.$white;
}

.body-sticky {
	overflow: hidden;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

// NAVIGATION
.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	z-index: 100;

	&__bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		background-color: colors.$white;
	}

	&__title {
		font-size: 2.5rem;
	}

	&__burger-btn,
	&__galery-btn {
		padding: 1em;
		font-size: 2rem;
		border: none;
		background-color: transparent;
		color: colors.$gold;
		cursor: pointer;
	}

	&__list {
		display: none;
		flex-direction: column;
		gap: 2em;
		background-color: colors.$white;
		padding: 2em 0;
		height: 85svh;
		list-style: none;
		overflow-y: scroll;
		animation: fadeIn 0.5s linear both;

		&--item {
			font-size: 1.8rem;
			font-weight: bold;

			.nav-link {
				display: block;
				padding: 1em;
				text-decoration: none;
				color: colors.$black;
			}
		}
	}

	.active {
		display: flex;
	}
}

// HEADER
.header {
	position: relative;

	&__hero-img {
		position: relative;
		height: 100svh;
		width: 100%;
		background: url('../../dist/img/island-small.jpg');
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		// background-attachment: scroll;
	}

	&__video {
		width: 100%;
		height: 75svh;
		object-fit: cover;
		background-position: center;
	}
}

// MAIN
.main {
	padding: 2em;
	margin-top: 2em;

	.section {
		position: relative;
		margin: 3em 0;

		&__img {
			position: relative;
			width: 100%;
			height: clamp(300px, 85vw, 800px);
			// max-height: 800px;
		}

		&__title {
			margin: 0.5em 0;
			font-size: 3.6rem;
			line-height: 1.2;
			color: colors.$dark-blue;
		}

		&__text {
			margin-bottom: 1em;
			font-size: 1.8rem;
			line-height: 1.7;
			// bigger line-height on desktop
			letter-spacing: 0.1em;
		}

		&__link {
			font-size: 1.8rem;
			color: colors.$gold;
			letter-spacing: 0.13em;
			text-decoration: none;
			border-bottom: 1px solid colors.$gold;
		}
	}
}

.test-div {
	height: 200svh;
	background-color: orange;
}

@media (min-width: 768px) {
	.nav {
		&__list {
			gap: 1em;
			height: 70svh;
			overflow: hidden;

			&--item {
				font-size: 3rem;

				.nav-link {
					padding: 0.5em;
				}
			}
		}
	}

	.header {
		&__hero-img {
			background-image: url('../../dist/img/island-big.jpg');
		}

		&__video {
			height: 100svh;
		}
	}

	.main {
		padding: 4em;

		.flex {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.reverse {
			flex-direction: row-reverse;
		}

		.section {
			margin-top: 4em;
			&__box {
				padding: 1em;
				width: 50%;
			}

			&__title {
				font-size: 5rem;
			}

			&__text {
				font-size: 2.2rem;
				letter-spacing: 1px;
			}

			&__link {
				font-size: 2.4rem;
			}
		}
	}
}
